.MuiInputBase-inputType-53 {
    height: auto !important;
}

.home-view {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.search-component {
    width: 30%;
    display: inline-block;
}

.get-component {
    display: flex;
    align-items: center;
    justify-content: center
}

.main-body {
    width: 100%;
}

.search-component::before {
    content: '';
    display: block;
    position: absolute;
    outline: .5px solid rgb(153, 153, 153);
    left: 50%;
    width: 0;
    height: 150px;

}

.loading {
    width: 100%;
    display: flex;
    justify-content: center;
}